@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/SugarFruit.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #070F2B;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: 'MyCustomFont';
}

input, button {
    padding: 8px 12px;
    margin: 4px;
    border: 2px solid #7A73D1;
    border-radius: 6px;
    background-color: #1B1A55;
    color: #fff;
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 8px;
    color: #7A73D1;
}

button {
    border: none;
    background-color: #7A73D1;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #afa9f0;
    transform: scale(1.05);
    box-shadow: 0 0 10px #9f95f7;
}

.task-container {
    position : relative;
    z-index: 1;
    background-color: #1B1A55;
    padding: 15px;
    border-radius: 22px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    font-family: 'MyCustomFont';
    
}

.option {
    position : relative;
    z-index: 1;
    background-color: #1B1A55;
    padding: 15px;
    border-radius: 22px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    font-family: 'MyCustomFont';
}

.action-buttons {
    gap: 10px;
    border : none;
    padding : 10px;
    margin-top: 20px;
}

.action-buttons[style*="display: flex"] {
    border : 2px solid #7A73D1;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

#customConfirm {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.confirm-box {
    background-color: #1B1A55;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}


.confirm-img {
    width: 100px;
    margin-bottom: 12px;
    border-radius: 10px;
}

.title {
    color: #867cdd;
    background-color: #1B1A55;
    padding: 15px;
    border-radius: 22px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#clock {
  color: #7A73D1;
  font-weight: bold;
    background-color: #1B1A55;
    padding: 15px;
    border-radius: 22px;
}

.clock-label {
    background-color: #1B1A55;
    padding: 15px;
    border-radius: 22px;
}

p {
  color: #7A73D1;
  font-weight: bold;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 15, 43, 0.6);
    z-index: -1;
}